@charset "utf-8";

#header ul#topnav
{
	display:block; 
	float:right; 
	width:700px; 
	margin:20px 0 0 0; 
	padding:0; 
	list-style:none; 
	font-size:16px;
}

#header ul#topnav ul, #header li
{
	float:right; 
	list-style:none; 
	margin:0; 
	padding:0;
}

#header li a:link, #header li a:visited, #header li a:hover
{
	display:block; 
	margin:0; 
	padding:5px 20px; 
	color:rgba(210,181,21,1.00); 
	border-right:2px solid #989898;
}

#header ul#topnav ul li a:link, #header ul#topnav ul li a:visited
{
	border:none;
}

#header ul#topnav li.last a
{
	margin-right:0;
}

#header li a:hover
{
	color:#FFFFFF; 
}

#header li li a:link, #header li li a:visited
{
	width:150px; 
	float:none; 
	margin:0; 
	padding:7px 10px; 
	font-size:16px; 
	font-weight:bold; 
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
	background-color:rgba(216,213,213,1.00);
	color:black;
}

#header li li a:hover
{
	color:rgba(219,181,21,1.00); 
	background-color:black;
}

#header li ul
{
	z-index:1000; 
	position:absolute; 
	left:-999em; 
	height:auto;
	width:170px;
}


#header li:hover ul, #header li li:hover ul
{
	left:auto;
}

